    
    <!-- <div class="foot">
        <div id="terminalMenu">
        <div id="firstM">
            <h5>PROBLEMS</h5>
            <h5>OUTPUT</h5>
            <h5>DEBUG CONSOLE</h5>
            <h5>TERMINAL</h5>
            <h5>PORTS</h5>
        </div> -->
            <!-- <div id="secondM">
            <h5>PROBLEMS</h5>
            <h5>OUTPUT</h5>
            <h5>DEBUG CONSOLE</h5>
            <h5>TERMINAL</h5>
            <h5>PORTS</h5> -->
        <!-- </div>
        </div>
    </div> -->

    </section>
</body>
</html>