<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <title>Developing Feelings!</title>

    <nav>
       <a href="/profiles">Explore</a>
       |
       <a href="/profiles">Matches</a>
       |
       <a href="/profiles">My Profile</a>
       |
       <a href="/profiles">Account Settings</a>
       |
       <a href="/logout">LOGOUT</a>
    </nav>

    <!-- GO TO STEP 10 TO ADD LOGIN/LOGOUT BASED NAV -->
