<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Developing Feelings!</title>
</head>
<body>

<section id="landing">
    <nav class="contentBox"> 
     
        <div>
          <h3>Explorer</h3>
          <h4>OPEN EDITIONS</h4>
          <h4>PROJECT FILES</h4>
            <div id=navContainer>
             <h4>>  <a href="/profiles">Explore</a></h4>
             <h4>> <a href="/profiles/me">My Profile</a></h4>
             <h4>>  <a href="/users/matches">Matches</a></h4>
              <h4>> <a href="/logout">LOGOUT</a></h4>
            
            </div>
         </div>
    </nav>