<%- include('../partials/header')%>

<div class="header">
    <div id="welcome">
      <pre id="headerText">welcome.md       X  </pre>
    </div>
    
    <div id="userProfile">
      <pre id="headerText">  Your-Profile-Info.md   X  </pre>
    </div>
  </div>
  
  <div class="main">
    <div id="profileGrid">

    <div id="userDetails"> <h2>Your Profile</h2>

        <form id="userForm" action="/profiles/me?_method=PUT" method="POST">

                <div id="userName">Whats your name? <input type="text" name="name" required></div><br>
                <div id="userDob">What is your date of birth? <input type="date" name="birthday" required></div><br>
                <div id="userLoc">Where are you from? <input type="text" name="location"></div><br>
                <div id="userJob">What is your current position? <input type="text" name="jobTitle"></div><br>
                <div id="userLang">What are your favorite programming languages? <br>
                    <select name="languages" multiple size="4">
                        <option name="C++">C++</option>
                        <option name="C#">C#</option>
                        <option name="Python">Python</option>
                        <option name="Javascript">Javascript</option>
                        <option name="Java">Java</option>
                        <option name="CSS">CSS</option>
                        <option name="HTML">HTML</option>
                        <option name="Rust">Rust</option>
                        <option name="PHP">PHP</option>
                        <option name="C">C</option>
                        <option name="Go">Go</option>
                        <option name="Scratch">Scratch</option>
                    </select>
                </div><br>
                <div id="userDes">What are you looking for? 
                    <select name="desires">
                        <option name="Long-Term Relationship">Long-Term Relationship</option>
                        <option name="Short-Term Fun">Short-Term Fun</option>
                        <option name="Open-Relationship">Open-Relationship</option>
                        <option name="Undecided">Undecided</option>
                    </select>
                </div><br>
                <div id="about">Tell us about yourself: <br>
                    <textarea name="aboutMe" cols="30" rows="10" maxlength="500" placeholder=" max-length 500 characters" required></textarea>
                </div><br>
                <div id="pronouns">Pronouns:
                    <select name="pronouns">
                        <option selected></option>
                        <option name="he/him">he/him</option>
                        <option name="she/her">she/her</option>
                        <option name="they/them">they/them</option>
                        <option name="other">other</option>
                        <option name="prefer not to say">prefer not to say</option>
                    </select>
                </div><br>
             
                <div id="uploadImg">
                    <p id="uploadText">To upload an image, create a free profile on Imgur 
                        and upload an image there. Then copy and past the URL link 
                        to the image in the box below. 
                    </p>
                    <input id="imageUrl"/>
                </div>

            
            
            
                </div>
                <div id="submitBttn">
                    <button type="submit" class="bttn">Next</button>
                </div>
            </form>
           
       </div>
    </div>
  </div>
  

<%- include('../partials/footer')%>