

body {
  font-family: 'Open Sans', sans-serif;
   color:rgba(195, 195, 195, 1);
   background-color: #202020;
   padding: 1.5rem;
 }
 
 #landing{
   width: 100%; 
   height:95vh; 
   display: grid; 
   grid-template-areas:
      "a1 a2 a3 a4 a5 a6 a7"
      "b1 b2 b3 b4 b5 b6 b7"
      "c1 c2 c3 c4 c5 c6 c7"
      "d1 d2 d3 d4 d5 d6 d7";
 }
 
 nav{
   grid-column-start:1; 
   grid-column-end:2; 
   grid-row-start:1;
   grid-row-end:8;
 
   width:100%;
   height: 100%;
   border: rgba(85, 85, 85, 1) solid;
     display:grid;
    grid-template-columns: repeat(4, -10%);
    grid-column-gap: 20px;
 }
 nav a{
  color:rgba(195, 195, 195, 1);
  text-decoration: none;
 }
 nav h3{
  grid-column-start: 2;
   grid-column-end: 3;
   
 }
 
 nav div{
   grid-column-start: 2;
   grid-column-end: 4;
   
 }
 
 #navContainer{
   margin-left: 2rem;
 }
 .header{
   grid-column-start:2; 
   grid-column-end:8; 
   grid-row-start:1 ;
   grid-row-end:2 ;
   display:flex;
   flex-direction: row;
 }
 #userProfile{
  border:rgba(85, 85, 85, 1) solid 2px ;
  width: 14rem;
  height: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  margin: 0px;
}
 
 #welcome{
   border:rgba(85, 85, 85, 1) solid 2px ;
   width: 189px;
   height: 95%;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   text-align: center;
   margin: 0px;
 }
 
 #headerText{
   margin-top:1rem;
   align-self: center;
   width: 100%;
 }
 
 
 #welcome > p{
   width: 30px;
 }
 
 .main{
   grid-column-start:2; 
   grid-column-end:8; 
   grid-row-start:2 ;
   grid-row-end:7 ;
   display: flex;
   justify-content: center;
   border: rgba(85, 85, 85, 1) solid 2px; 
 }
 #title{
   font-size: 50px;
   align-self: center;
 }
 /* #login{
   font-size:30px;
   align-self: center;
 } */
 #profileGrid{
  margin:0px;
  width:100%;
  height:100%;
  grid-column-start:2; 
  grid-column-end:10; 
  grid-row-start:2;
  grid-row-end:11;
  
  display:grid; 
  grid-template-rows:repeat(4, auto);
  grid-template-columns:repeat(10, auto);
  grid-gap: 20px;
}

 #mainContent{
   width: 50%;
   height: 100%;
   margin: 60px 20px 20px 20px;
 /*   background-color: gray;  */
   display: flex; 
   flex-direction: column;
   justify-content: center;
 }

 #mainContent img{
  width:200px;
  height:200px;
 }
 
 #mainContent > button{
 background-color: rgba(29, 108, 153, 1);
   color: white;
   font-size: 20px;
   font-weight: bold;
   border-radius: 10px;
   width: 200px;
   height: 49px;
   align-self: center;
   margin-top: 2rem;
 }
 #profileGrid{
width:100%;
height:100%; 
display:grid;
grid-template-columns: repeat(12, auto);
grid-template-rows: repeat(10, auto);
grid-gap: 20px;
 }

 #userContent{
  width: 26rem;
  height: 35rem;
  grid-column-start:2;
  grid-column-end:6;
  grid-row-start: 2; 
  grid-row-end: 9;
  border: rgba(85, 85, 85, 1) solid 2px;
  border-radius: 10px;
  display:grid;
  grid-template-columns:repeat(8, auto) ;
  grid-template-rows:repeat(5, auto);
}

#uploadImg{
  margin-top:4rem;
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start:5;
  grid-row-end:6;
}
#uploadText{
  width:20rem;
  height:2rem;
  display: inline;
}
#imageUrl{
  margin-top:10px;
  width:20rem;
  height:2.5rem;
  color:rgb(20, 20, 20);
  background-color:rgb(255, 255, 255);
  border-radius: 10px;
  border:rgba(114, 114, 114, 1);
  display:inline;
}
#userDisplay{
  display:inline;
  border-radius: 0px 0px 10px 10px;
  background-color:rgba(0, 0, 0, 0.8);
  grid-column-start:1;
  grid-column-end: 9;
  grid-row-start:5;
  grid-row-end:6;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  flex-direction:row;
}
#userDetails{
  display:flex;
  flex-direction: column;
  margin:0px;
  width: 30rem;
  grid-column-start:7;
  grid-column-end:12;
  grid-row-start: 2; 
  grid-row-end: 9;
}
#userDetails > h2{
  margin: 20px 0px 0px 8rem; 
}
#userGrid{
  margin:0px;
  height:100%;
  width:100%;
  display: grid;
  grid-template-columns:2;
  grid-template-rows:5;
  grid-gap: 10px;  
}
#userForm{
  margin:0px;
  height:100%;
  width:100%;
  display: grid;
  grid-template-columns:2;
  grid-template-rows:6;
  grid-gap: 10px;  
}
/* #like{
  width:8rem;
}
#dislike{
  width: 8rem;
} */
#userForm > input{
  color:white;
  background-color:rgba(0, 0, 0, 0.5);
}
#userForm > option{
  color:white;
  background-color:rgba(0, 0, 0, 0.5);
}
#userName{
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start:2;
  grid-row-end:3;
  
}
#userDob{
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start:2;
  grid-row-end:3;
}
#userLoc{
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
#userJob{
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start:3;
  grid-row-end:4;
}
#userLang{
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start:4;
  grid-row-end:5;
}
#userDes{
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start:4;
  grid-row-end:5;
}
#about{
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start:5;
  grid-row-end:6;
}
#pronouns{
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start:5;
  grid-row-end:6;
}
#userPhotos{
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start:6;
  grid-row-end:7;
}
#submitBttn{
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start:7;
  grid-row-end:8;
}

/************* button styling below **************/

.bttn{
  align-self: center;
  margin-top:30px;
  width:8rem;
  height:3.5rem;
  text-align: center;
  background-color:rgba(29, 108, 153, 1);  
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
.bttn:hover{
  background-color:rgb(9, 65, 97);
  color: White;
  text-decoration: none;
}

#userForm button{
  grid-column-start:1;
  grid-column-end: 2;
}

#dislikeBttn{
  width:8rem;
  height:3.5rem;
  text-align: center;
  background-color:rgb(201, 35, 35);  
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
#dislikeBttn:hover{
  background-color:rgb(97, 9, 9);
  color: White;
  text-decoration: none;
}

/************** end of button styling **************/




 /************** Footer stylong below **************/
/*  
 .foot{
   background-color:rgba(23, 23, 23, 1);
   grid-column-start:2; 
   grid-column-end:8; 
   grid-row-start:7 ;
   grid-row-end:8 ;
   height:98%;
  display: grid;
   grid-template-areas: 
      "a1 a2 a3 a4 a5 a6"
      "b1 b2 b3 b4 b5 b6"
      "c1 c2 c3 c4 c5 c6";
   
   border: rgba(85, 85, 85, 1) solid 2px;
 }
 
 #terminalMenu{
   display: flex; 
   flex-direction:row;
   justify-content: space-between;
   background-color:rgba(23, 23, 23, 1);
   grid-column-start:1; 
   grid-column-end:7; 
   grid-row-start:1 ;
   grid-row-end:2;
 }
 
 #firstM{
   width: 40%;
   display: flex; 
   flex-direction:row;
   justify-content: space-between;
 }
 
 #secondM{
   width: 30%;
   display: flex; 
   flex-direction:row;
   justify-content: space-between;
 }
 
 #firstM > h5{
   margin: 0;
 }
 
 #secondM > h5{
   margin: 0;
 } */

 /************** end of Footer styling **************/
